<section id="features" class="features-section">
    <div class="container">
        <h2>Algunas Caracteristicas</h2>
        <div class="feature">
            <i class="icon fas fa-check-circle"></i>
            <h3>Cenas y Comidas</h3>
            <p>Disfruta de una comida deliciosa con alguien que puede compartir una buena conversación y hacer que el tiempo vuele.</p>
        </div>
        <div class="feature">
            <i class="icon fas fa-mobile-alt"></i>
            <h3>Compras y Mandados</h3>
            <p>¿Necesitas ayuda con las compras o simplemente alguien con quien recorrer el centro comercial? ¡Estamos aquí para ti!</p>
        </div>

        <div class="feature">
            <i class="icon fas fa-mobile-alt"></i>
            <h3>Actividades Recreativas</h3>
            <p>Desde ir al cine hasta pasear por el parque, tu amigo de alquiler hará que cualquier actividad sea más divertida y agradable.</p>
        </div>

        <div class="feature">
            <i class="icon fas fa-shield-alt"></i>
            <h3>Salidas a Eventos</h3>
            <p>Ya no tienes que asistir solo a reuniones, fiestas o eventos importantes. Tu amigo de alquiler estará ahí para hacerte sentir acompañado y seguro.</p>
        </div>
    </div>
</section>