<section id="testimonials" class="testimonials-section">
    <div class="container">
        <h2>Que dicen Nuestros Clientes</h2>
        <div class="testimonial">
            <p>""Estaba nerviosa por asistir sola a una boda, pero con Tu Amigo de Alquiler, tuve una compañía maravillosa y me sentí súper cómoda.""</p>
            <h3>– Roger rodriguez</h3>
        </div>
        <div class="testimonial">
            <p>"Hice nuevas compras para mi casa y mi amigo de alquiler no solo me acompañó, sino que me ayudó a tomar las mejores decisiones. ¡Excelente servicio!"</p>
            <h3>– Julia Chura</h3>
        </div>

        <div class="testimonial">
            <p>"Decidí probar Tu Amigo de Alquiler para una salida al cine, y fue la mejor decisión. Tuve una gran conversación y una experiencia mucho más divertida de lo que esperaba. ¡Definitivamente lo haré de nuevo!"</p>
            <h3>– lizeth flores</h3>
        </div>
    </div>
</section>